#AddDefaultCharset UTF-8

# Error 404 Handle
#Options -Indexes
#ErrorDocument 404 /404.php
DirectoryIndex /index.php


RewriteEngine on
RewriteBase /

RewriteRule painel?\/?$ /painel/index.php
RewriteRule ^google(.+)\.html$ google.php?parametro=$1 [L]

# Block access to direct files .PHP
# Allow access only to /includes/ajax files
#RewriteCond %{THE_REQUEST} ^[A-Z]+\ /[^?\ ]*\.php[/?\ ]
#RewriteCond %{REQUEST_URI} !/includes/ajax/
#RewriteRule ^(.*).php$ 404 [R=301,L]

#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?pg=$1 [QSA,L]

#Header set Access-Control-Allow-Origin "*"